* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.banner {
  width: 100%;
  height: 100vh; 
  background-color:hsl(0, 100%, 75%);
  position: relative;
 
}

.banner__content {
  display: flex;
  align-items: center;
  height: 100vh;
}

.container {
  width: 1200px;
  max-width: 1200px;
  margin:0 auto;
  color:black;
}

.banner__text {
  width: 500px;
}

.banner__text h3 {
  font-size: 40px;
  line-height: 80px;
  margin-top: 15px;
}

.banner__text p {
  margin-top: 15px;
  font-size: 18px;
}

.navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.navbar__text {
  display: flex;
  height: 150px;
  align-items: center;
  width: 1200px;
  margin: 0 auto;
}

.logo {
  width: 40%;
  padding-left: 5%;
}

.logo img {
  border-radius: 50%;
}

.navbar__ul {
  width: 50%;
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
}

.navbar__ul li a {
  text-decoration: none;
  color:black;
  padding: 0 35px;
  font-weight: 800;
}

.banner__btn {
  margin-top: 30px;
}

.btn {
  text-decoration: none;
  border: none;
  outline: none;
  padding: 20px 40px;
  font-weight: 700;
  font-size: 12px; 
  color:black;
}

.btn-smart {
  background-color:#fff;
}

.newcolor {
  padding: 80px 0;
}

.p-25 {
  margin-top: 20px;
  line-height: 35px;
  padding: 20px 40px;

}

.row {
  width: 100%;
  display: flex;
}

.col-6 {
width: 50%;
}

.newcolor h3 {
  font-size: 40px;
  margin-bottom: 15px;
}

.newcolor p {
  font-size: 18px;
}

.newcolor__btn {
  margin-top: 30px;
}

.newcolor__img {
  width: 100%;
  overflow: hidden;
}

.newcolor__img img {
  width:100%;
}